@media 

.body {
    width: 100%;
    font-family: 'Playfair Display', serif;
    /* background-image: url("../img/minimo_one_retina.jpg"); */
    /* background-image: url("../img/minimo_02.jpg"); */
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.main-header {
    width: 100%;
    min-height: 107px;
    display: flex;
    align-items: flex-end;
}

.main-header--wrapper {
    width: 100%;
    max-width: 1130px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-header--wrapper-indent {
    margin: 0 auto;
}

.main-header__logo--wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 133px;
}

.main-header__logo--wrapper-indent {
    margin-right: auto;
}

.main-header__logo {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    line-height: 1.500em;
    text-transform: uppercase;
    letter-spacing: 0.24em;
}

.main-header__link {
    color: #000000;
}

.main-header__list {
    width: 100%;
    max-width: 607px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.main-header__list-link {
    color: #000000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}


.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main--wrapper-indent {
    margin: 0 auto;
    padding-top: 713px;
}

.main--wrapper {
    width: 100%;
    max-width: 1130px;
    background-image: url("../img/main-girls.jpg");
    background-repeat: no-repeat;
    background-position: top 67px center;
    background-size: contain;
}

.article__main {
    width: 100%;
    max-width: 958px;
}

.article__main--indent {
    margin: 0 auto;
    padding-bottom: 140px;
}

.article__category {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    color: #c7c1b6;
}

.article__headline {
    font-size: 30px;
    font-weight: 300;
    color: #626262;
    letter-spacing: 0.855px;
}

.article__headline--indent {
    margin-bottom: 30px;
}

.article__headline-link {
    color: #626262;
}

.article__category--indent {
    margin-bottom: 20px;
}


.article__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.article__text--indent {
    margin-bottom: 62px;
}

.article__comment {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    color: #c7c1b6;
}

.articles__section {
    width: 100%;
    max-width: 958px;
}

.articles__section--indent {
    margin: 0 auto;
}

.articles__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    max-width: 958px;
}
.articles__item {
    width: 46.6%;
}

.articles__item--indent {
    margin-bottom: 141px;
}

.articles__image {
    width: 100%;
}

.articles__image--indent {
    margin-bottom: 29px;
}

.articles__category-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    color: #c7c1b6;
}

.articles__category-name--indent {
    margin-bottom: 21px;
}

.articles__headline {
    font-size: 30px;
    font-weight: 300;
    color: #626262;
    letter-spacing: 0.855px;
}

.articles__headline-indent {
    margin-bottom: 30px;
}

.articles__item-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.form-section {
    width: 100%;
    max-width: 1200px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.form-section--wrapper {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form__text {
    /* align-self: center; */
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.form-section--wrapper-indent {
    margin-top: 62px;
}

.form--indent {
    margin-bottom: 120px;
}

.form__input {
    border: none;
    line-height: 34px;
    width: 344px;
    /* border-bottom: 1px solid #000000; */
    background-color: transparent;
}

.form__input::placeholder {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

/* .form__input::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    border: 1px solid #000000;
} */

.form-input--indent {
    margin-top: 60px;
}

.input-btn--wrapper {
    border: 2px solid black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.form__submit-btn {
    border: none;
    background-color: transparent;
}

.articles-section__list {
    display: flex;
}


.articles__list-second--indent {
    margin-top: 112px;
}

.btn {
    width: 100%;
    max-width: 170px;
    border: 1px solid #000000;
    font-family: 'Playfair Display', serif;
    font-size: 23px;
    font-weight: 200;
    padding: 15px;
    background-color: transparent;
    transition: all 0.3s;
}

.btn:hover {
    transform: scale(1.2);
}

.btn--wrapper {
    display: flex;
    justify-content: center;
    
}

.btn--wrapper-indent {
    margin-top: 35px;
    margin-bottom: 108px;
}

.main-footer {
    width: 100%;
    background-color: #f0f0f0;
    /* max-width: 1130px; */
    display: flex;
    /* align-self: center; */
    justify-content: center;
}

.main-footer--wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1130px;
    /* max-width: 1044px; */
}

.main-footer--wrapper-help {
    width: 100%;
    max-width: 1044px;
    display: flex;
    justify-content: space-between;
}
.main-footer--wrapper-help-indent {
    margin-top: 35px;
    margin-bottom: 35px;
}

.footer-links__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 215px;
}

.footer-link__item-link {
    color: #000000;
    font-size: 15px;
    line-height: 24px;
}

.social-links--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 150px;
}



.social-links__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80px;
}

a {
    transition: all 0.3s ease;
}

a:hover {
    opacity: 0.6;
}